---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
	title="Alma Café | San Isidro"
	description="Descrube el mejor Café de Latinoamérica"
>

	<main>
		<Intro/>
		<Bento/>
		<PreFooter/>
	</main>

	<Footer/>
</Layout>

<style>
	
</style>
