
<div
  class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full"
>
  <div
    class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full"
  >
    <section
      class="absolute z-10 animate-fade-up flex justify-center items-center gap-8 flex-col"
    >
      <h1
        class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl font-tomaso text-white font-bold"
      >
        <span>A</span>
        <span>L</span>
        <span>M</span>
        <span>A</span>
        <span>|</span>
        <span>C</span>
        <span>A</span>
        <span>F</span>
        <span>É</span>
      </h1>

      <p
        class="subtitle text-xl lg:text-2xl text-center text-wrap font-jura px-4 text-white"
      >
      Encantador rincón situado en el corazón de San Isidro
      </p>

    </section>
    <img 
    class="w-full h-screen object-cover object-top blur-sm"
    alt="Imagen de cafeteria"
    src="/img1.jpg"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    />
  </div>
  <img 
    class="absolute -bottom-48 blur-3xl -z-40" 
    alt="Imagen de cafeteria con blur"
    src="/img1.jpg"
    />
</div>